body {
    font-family: Helvetica, Arial, sans-serif;
}


/* giris kismi ile ilgili kisim */
.arrange{
    border: 1px solid #663399;
    margin:20 20 20 20;
    
}

.shadow-class {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(102,51,153,1);
-moz-box-shadow: 0px 0px 17px 0px rgba(102,51,153,1);
box-shadow: 0px 0px 17px 0px rgba(102,51,153,1);
border-radius: 15px;

}

.ortext{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #663399; 
   line-height: 0.1em;
   margin: 30px 0 30px;
   
}

.ortext span{
    background:#fff; 
    padding:0 10px;
    
    
}
.icone{
    width: 10px;
    
}

.btn-detay:hover {
    background-color: #663399 ;
    color:white;
    
}

/* kayit-ol sayfasi ile ilgili kisim */
.buton-detay{
    background-color: #663399;
    color: white;
    width: 450px;
}

.buton-detay:hover{
    background-color: #663399;
    color: white;
    -webkit-box-shadow: 3px 3px 24px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 24px 2px rgba(0,0,0,0.75);
box-shadow: 3px 3px 24px 2px rgba(0,0,0,0.75);

    
}

.form-check-input{
    background-color: white !important;
    box-shadow: none;
}

.form-check-input:active{
    background-color: #663399;
}

.form-check-input:checked{
    background-color: #663399 !important;
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;

}

.metinduzen{
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}
.formduzen{
    border:solid;
    border-radius: 15px;
    border-color: #663399;
}

/* .formduzen {
    border-left: 1px solid black;
    padding: 2%;
} */


/* footer ve header  */
.nav-bg {
    background-color: #663399;
    border-bottom: 1px solid black;
}

li a{
    color: white !important;
}

/* body {
    background-color: beige !important;
} */

.nav-btn {
    font-weight: bold;
}

.font-brand {
    font-size: 32px !important;
    font-weight: bold;
}

.card:hover {
    border: 1px solid #663399;    

}

.btn-color {
    background-color: #663399 !important;
    color:white !important;
    border:none !important;
}



footer {
    background-color: #663399;
    margin-bottom: 0px;
}